page-tabs {
    .ion-ios-customicon-outline,
    .ion-ios-customicon,.ion-md-customicon,.ion-md-customicon-outline {
      content: url('../assets/imgs/dashboard.svg');
    
    }
 
    .ion-ios-customicon2-outline,
    .ion-ios-customicon2,.ion-md-customicon2,.ion-md-customicon2-outline {
      content: url('../assets/imgs/file.svg');  

    }

    .ion-ios-customicon3-outline,
    .ion-ios-customicon3,.ion-md-customicon3,.ion-md-customicon3-outline {
      content: url('../assets/imgs/menu.svg');
    }
}
