<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">IMPORT LC</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item-group>
    <ion-item-divider (click)="mikilo()">
      <span>GENERAL DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Form Number*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.formnumber" (ngModelChange)="selectedItem.formnumber= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>
            Type of LC*
          </ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.lctype" (ngModelChange)="selectedItem.lctype= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Utilized Amount*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.utilized" (ngModelChange)="selectedItem.utilized= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Form M Available Amount*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.available" (ngModelChange)="selectedItem.available= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>LC Amount*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.lcAmount" (ngModelChange)="selectedItem.lcAmount= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>
            LC Currency*
          </ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.money" (ngModelChange)="selectedItem.money= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>
            Account For Transaction*
          </ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.account" (ngModelChange)="selectedItem.account= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>
            Account To Charge*
          </ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.charge" (ngModelChange)="selectedItem.charge= $event" type="text"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>BENEFICIARY DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>
      <ion-list>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.bname" (ngModelChange)="selectedItem.bname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Address*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.baddress" (ngModelChange)="selectedItem.baddress= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Town*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.btown" (ngModelChange)="selectedItem.btown= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Country*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.bcountry" (ngModelChange)="selectedItem.bcountry= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary State*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.bstate" (ngModelChange)="selectedItem.bstate= $event" type="text"></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>LC DETAILS</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>

      <ion-list>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Transferable?*</ion-label>
          <ion-checkbox  [(ngModel)]="transferable"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Resolving?*</ion-label>
          <ion-checkbox [(ngModel)]="resolving"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Revokable?*</ion-label>
          <ion-checkbox [(ngModel)]="revokable"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Irrevokable?*</ion-label>
          <ion-checkbox [(ngModel)]="irrevokable"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Stand By?*</ion-label>
          <ion-checkbox [(ngModel)]="stand"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Back to Back?*</ion-label>
          <ion-checkbox [(ngModel)]="back"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Red Letter*</ion-label>
          <ion-checkbox [(ngModel)]="red"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Deferred*</ion-label>
          <ion-checkbox [(ngModel)]="deferred"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div>
        <ion-list>
          <ion-item no-lines>
            <ion-label stacked>
              LC Payment Tenor*
            </ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.tenor" (ngModelChange)="selectedItem.tenor= $event" type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="tenor=='Usance'" no-lines>
            <ion-label stacked>Usance Period</ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.usance" (ngModelChange)="selectedItem.usance= $event" type="number"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>
              LC Valid Country 
            </ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.country" (ngModelChange)="selectedItem.country= $event" type="text"></ion-input>
          </ion-item>

        </ion-list>
      </div>

    </div>

    <ion-item-divider (click)="mikilo4()">
      <span>GOODS & SHIPMENT</span>
      <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton4" padding>
      <ion-list>
        <ion-item class="radio" no-lines>
          <ion-label stacked>Part Shipment?*</ion-label>
          <ion-checkbox [(ngModel)]="part"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Transhipment?*</ion-label>
          <ion-checkbox [(ngModel)]="transhipment"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Util By Bill?*</ion-label>
          <ion-checkbox [(ngModel)]="bill"></ion-checkbox>
        </ion-item>

        <ion-item class="radio" no-lines>
          <ion-label stacked>Util Without Bill?*</ion-label>
          <ion-checkbox [(ngModel)]="without"></ion-checkbox>
        </ion-item>
      </ion-list>

      <div>
        <ion-list>
          <ion-item no-lines>
            <ion-label stacked>Last Shipment Date*</ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.date" (ngModelChange)="selectedItem.date= $event" type="number"></ion-input>
          </ion-item>


          <ion-item no-lines>
            <ion-label stacked>Port of Loading*</ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.loading" (ngModelChange)="selectedItem.loading= $event" type="text"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>
              Origin of Goods*
            </ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.gorigin" (ngModelChange)="selectedItem.gorigin= $event" type="text"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>Shipment Period*</ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.period" (ngModelChange)="selectedItem.period= $event" type="text"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>
              Shipment Terms*
            </ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.terms" (ngModelChange)="selectedItem.terms= $event" type="text"></ion-input>
          </ion-item>


          <ion-item no-lines>
            <ion-label stacked>
              Shipment Mode*
            </ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.mode" (ngModelChange)="selectedItem.mode= $event" type="text"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>Port of Discharge*</ion-label>
            <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.discharge" (ngModelChange)="selectedItem.discharge= $event" type="text"></ion-input>
          </ion-item>


        </ion-list>
      </div>
    </div>

    <ion-item-divider (click)="mikilo5()">
      <span>BANK DETAILS</span>
      <i *ngIf="!hideButton5" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton5" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton5" padding>
      <ion-list>
        <span style="font-size:18px;">
          <b>Beneficiary Bank Details</b>
        </span>
        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.bbank" (ngModelChange)="selectedItem.bbank= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Address*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.bbaddress" (ngModelChange)="selectedItem.bbaddress= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Swift Code*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.bbswift" (ngModelChange)="selectedItem.bbswift= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Branch*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.bbbranch" (ngModelChange)="selectedItem.bbbranch= $event" type="text"></ion-input>
        </ion-item>

        <br>
        <span style="font-size:18px;">
          <b>Advising Through Bank Details</b>
        </span>

        <ion-item no-lines>
          <ion-label stacked>Advising Through Bank Name</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.tbn" (ngModelChange)="selectedItem.tbn= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Advising Through Bank Address</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.tba" (ngModelChange)="selectedItem.tba= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Advising Through Bank Branch</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.tbb" (ngModelChange)="selectedItem.tbb= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Advising Through Swift Code</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.tsc" (ngModelChange)="selectedItem.tsc= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Advising Through Bank Code</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.tbc" (ngModelChange)="selectedItem.tbc= $event" type="text"></ion-input>
        </ion-item>
        <br>

       

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo6()">
      <span>INSURANCE DETAILS</span>
      <i *ngIf="!hideButton6" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton6" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton6" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Insurance Company Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.icn" (ngModelChange)="selectedItem.icn= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Insurance Company Address*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.ica" (ngModelChange)="selectedItem.ica= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Insurance Policy Number*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.ipn" (ngModelChange)="selectedItem.ipn= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Insurance Payable At*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.ipa" (ngModelChange)="selectedItem.ipa= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Insurance Policy Date*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.ipd" (ngModelChange)="selectedItem.ipd= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Insurance Date of Expiry*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.ide" (ngModelChange)="selectedItem.ide= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Insurance Percentage*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.ip" (ngModelChange)="selectedItem.ip= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Insurance Amount*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.ia" (ngModelChange)="selectedItem.ia= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Insurance By*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.ib" (ngModelChange)="selectedItem.ib= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Premium Amount*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.pa" (ngModelChange)="selectedItem.pa= $event" type="number"></ion-input>
        </ion-item>


      </ion-list>

    </div>


  </ion-item-group>

</ion-content>