<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM NXP</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>

    <ion-item-divider (click)="mikilo()">
      <span>EXPORTER DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Name*</ion-label>
          <ion-input [ngModel]="selectedItem?.exporterName" (ngModelChange)="selectedItem.exporterName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address*</ion-label>
          <ion-input [ngModel]="selectedItem?.exporterAddress" (ngModelChange)="selectedItem.exporterAddress= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>City*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.exporterCity" (ngModelChange)="selectedItem.exporterCity= $event">
            <ion-option class="option" >{{selectedItem.exporterCity}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>State*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.exporterState" (ngModelChange)="selectedItem.exporterState= $event">
            <ion-option >{{selectedItem.exporterState}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Phone*</ion-label>
          <ion-input [ngModel]="selectedItem?.exporterPhone" (ngModelChange)="selectedItem.exporterPhone= $event" type="tel"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>NEPC Reg No*</ion-label>
          <ion-input [ngModel]="selectedItem?.exporterNepcReg" (ngModelChange)="selectedItem.exporterNepcReg= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>RC Number*</ion-label>
          <ion-input [ngModel]="selectedItem?.exporterRcNo" (ngModelChange)="selectedItem.exporterRcNo= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Method of Payment*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.methodOfPayment" (ngModelChange)="selectedItem.methodOfPayment= $event">
            <ion-option >{{selectedItem.methodOfPayment}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>CONSIGNEE DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>

      <ion-list>


        <ion-item no-lines>
          <ion-label stacked>Consignee First Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congFirstname" (ngModelChange)="selectedItem.congFirstname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Last Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congLastName" (ngModelChange)="selectedItem.congLastName= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Address*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congAddress" (ngModelChange)="selectedItem.congAddress= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Consignee City*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.congCity" (ngModelChange)="selectedItem.congCity= $event">
            <ion-option class="option"  >{{selectedItem.congCity}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee State*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.congState" (ngModelChange)="selectedItem.congState= $event">
            <ion-option >{{selectedItem.congState}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Country*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.congCountry" (ngModelChange)="selectedItem.congCountry= $event">
            <ion-option class="option" >{{selectedItem.congCountry}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>BY ORDER OF</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>First Name</ion-label>
          <ion-input [ngModel]="selectedItem?.otherFirstName" (ngModelChange)="selectedItem.otherFirstName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Last Name</ion-label>
          <ion-input [ngModel]="selectedItem?.otherLastName" (ngModelChange)="selectedItem.otherLastName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address</ion-label>
          <ion-input [ngModel]="selectedItem?.otherAddress" (ngModelChange)="selectedItem.otherAddress= $event" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked>City</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.otherCity" (ngModelChange)="selectedItem.otherCity= $event">
            <ion-option class="option"  >{{selectedItem.otherCity}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>State</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.otherState" (ngModelChange)="selectedItem.otherState= $event">
            <ion-option >{{selectedItem.otherState}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Country</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.otherCountry" (ngModelChange)="selectedItem.otherCountry= $event">
            <ion-option class="option"  >{{selectedItem.otherCountry}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo4()">
      <span>PAYMENT DETAILS</span>
      <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton4" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Transfer Account*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.transferAccount" (ngModelChange)="selectedItem.transferAccount= $event">
            <ion-option class="option" >{{selectedItem.transferAccount}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Charge Account*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.chargeAccount" (ngModelChange)="selectedItem.chargeAccount= $event">
            <ion-option class="option"  >{{selectedItem.chargeAccount}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Domiciliary Account</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.domAcct" (ngModelChange)="selectedItem.domAcct= $event">
            <ion-option class="option" >{{selectedItem.domAcct}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Domiciliary Amount*</ion-label>
          <ion-input [ngModel]="selectedItem?.domAmt" (ngModelChange)="selectedItem.domAmt= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Form Purpose Code*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.formPurposeCode" (ngModelChange)="selectedItem.formPurposeCode= $event">
            <ion-option class="option" >{{selectedItem.formPurposeCode}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Prefix*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.prefix" (ngModelChange)="selectedItem.prefix= $event">
            <ion-option class="option" >{{selectedItem.prefix}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Pin Code*</ion-label>
          <ion-input [ngModel]="selectedItem?.pincode" (ngModelChange)="selectedItem.pincode= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Due Date Payment</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMM DD YYYY" [ngModel]="selectedItem?.dueDatePay" (ngModelChange)="selectedItem.dueDatePay= $event"></ion-datetime>
        </ion-item>

      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo5()">
      <span>SHIPMENT DETAILS</span>
      <i *ngIf="!hideButton5" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton5" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton5" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Shipment Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMM DD YYYY" [ngModel]="selectedItem?.shippedOn" (ngModelChange)="selectedItem.shippedOn= $event"></ion-datetime>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Port of Destination/Discharge*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.portOfDestination" (ngModelChange)="selectedItem.portOfDestination= $event">
            <ion-option class="option" >{{selectedItem.portOfDestination}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Expected Port of Shipment*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.expectedPortShipment" (ngModelChange)="selectedItem.expectedPortShipment= $event">
            <ion-option class="option" >{{selectedItem.expectedPortShipment}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. No.</ion-label>
          <ion-input [ngModel]="selectedItem?.proformaNo" (ngModelChange)="selectedItem.proformaNo= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMM DD YYYY" [ngModel]="selectedItem?.proformaDate" (ngModelChange)="selectedItem.proformaDate= $event"></ion-datetime>
        </ion-item>
      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo6()">
      <span>GOOD DETAILS</span>
      <i *ngIf="!hideButton6" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton6" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton6" padding>
      <ion-list>
        <ion-item no-lines class="text-area">
          <ion-label stacked>Description of Goods</ion-label>
          <ion-textarea [ngModel]="selectedItem?.goodsDescription" (ngModelChange)="selectedItem.goodsDescription= $event" rows="2" placeholder="Remittance Info"></ion-textarea>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Quantity*</ion-label>
          <ion-input [ngModel]="selectedItem?.totalQuantity" (ngModelChange)="selectedItem.totalQuantity= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'quantity')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>No of Items Expected (as per H.S codes)*</ion-label>
          <ion-input [ngModel]="selectedItem?.noOfItems" (ngModelChange)="selectedItem.noOfItems= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Net Weight/Mass(kg)*</ion-label>
          <ion-input [ngModel]="selectedItem?.totalNetweight" (ngModelChange)="selectedItem.totalNetweight= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'netWeight')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Gross Weight/Mass(kg)*</ion-label>
          <ion-input [ngModel]="selectedItem?.totalGrossWeight" (ngModelChange)="selectedItem.totalGrossWeight= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'grossMass')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Currency*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.currencyCode" (ngModelChange)="selectedItem.currencyCode= $event">
            <ion-option class="option">{{selectedItem.currencyCode}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Value of Goods in Foreign Currency*</ion-label>
          <ion-input [ngModel]="selectedItem?.totalValueOfGoods" (ngModelChange)="selectedItem.totalValueOfGoods= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'value')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Value FOB*</ion-label>
          <ion-input [ngModel]="selectedItem?.totalFOB" (ngModelChange)="selectedItem.totalFOB= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem,'fob')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Freight Charges*</ion-label>
          <ion-input [ngModel]="selectedItem?.totalFreightFOB" (ngModelChange)="selectedItem.totalFreightFOB= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'freight')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total C & F Value*</ion-label>
          <ion-input [ngModel]="selectedItem?.totalFC" (ngModelChange)="selectedItem.totalFC= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem,'cf')"></i>
        </ion-item>

        <div>
          <button color="fcmb" ion-button item-end (click)="details(selectedItem)">Item Details</button>
        </div>
      </ion-list>
    </div>


    <ion-item-divider (click)="mikilo7()">
      <span>ATTACHMENT</span>
      <i *ngIf="!hideButton7" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton7" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton7" padding>
      <ion-list>
        <ion-item no-lines class="file">

          <input type="file" [(ngModel)]="file" />
          <p style="white-space:normal">Supported formats .doc,.docs and .pdf[Max file size: 500KB]</p>
        </ion-item>
        <div>
          <button ion-button small color="fcmb" (click)="upload()">Upload</button>
        </div>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo8()">
      <span>TERMS & CONDITIONS</span>
      <i *ngIf="!hideButton8" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton8" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton8" padding>
      <p style="white-space:normal">I hereby declare that the above written particulars are true to the best of my knowledge and belief
        <a color="fcmb">Read more...</a>
      </p>
      <ion-list>
          <span>
              <b>Agree</b>
            </span>
              <ion-item class="radio" no-lines>
                <ion-label>Yes</ion-label>
                <ion-checkbox [(ngModel)]="yes"></ion-checkbox>
              </ion-item>
              <ion-item class="radio" no-lines>
                <ion-label>No</ion-label>
                <ion-checkbox [(ngModel)]="no"></ion-checkbox>
              </ion-item>
      </ion-list>
    </div>


    <div padding>
      <button class="button" ion-button block tappable color="fcmb" (click)="update()">
        <span style="font-weight:bold; color:white">UPDATE</span>
      </button>
    </div>
  </ion-item-group>



</ion-content>
