<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM NXP</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>

    <ion-item-divider (click)="mikilo()">
      <span>EXPORTER DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Name*</ion-label>
          <ion-input [(ngModel)]="exporterName" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address*</ion-label>
          <ion-input [(ngModel)]="exporterAddress" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>City*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="exporterCity">
            <ion-option class="option" [value]="e.exporterCity" *ngFor="let e of Data">{{e.exporterCity}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>State*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="exporterState">
            <ion-option *ngFor="let s of Data">{{s.exporterState}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Phone*</ion-label>
          <ion-input [(ngModel)]="exporterPhone" type="tel"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>NEPC Reg No*</ion-label>
          <ion-input [(ngModel)]="exporterNepcReg" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>RC Number*</ion-label>
          <ion-input [(ngModel)]="exporterRcNo" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Method of Payment*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="methodOfPayment">
            <ion-option *ngFor="let m of Data">{{m.methodOfPayment}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>CONSIGNEE DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>
      <button class="add" color="fcmb" ion-button small item-end>Add New Beneficiary</button>

      <ion-list>
        <ion-item no-lines (click)="searchModal()">
          <span>Search Consignee</span>
          <i class="fas fa-search" item-end></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee First Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congFirstname" (ngModelChange)="selectedItem.congFirstname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Last Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congLastName" (ngModelChange)="selectedItem.congLastName= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Address*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congAddress" (ngModelChange)="selectedItem.congAddress= $event" type="text"></ion-input>
        </ion-item>

        <div>
          <button *ngIf="!viewButton" class="add" color="fcmb" ion-button small (click)="view()">View More</button>
          <button *ngIf="viewButton" class="add" color="fcmb" ion-button small (click)="view()">View Less</button>
        </div>

        <div *ngIf="viewButton">
          <ion-item no-lines>
            <ion-label stacked>Consignee City*</ion-label>
            <ion-select interface="action-sheet" class="Select" [(ngModel)]="congCity">
              <ion-option class="option" [value]="c.congCity" *ngFor="let c of Data">{{c.congCity}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>Consignee State*</ion-label>
            <ion-select interface="action-sheet" class="Select" [(ngModel)]="congState">
              <ion-option *ngFor="let s of Data">{{s.congState}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>Consignee Country*</ion-label>
            <ion-select interface="action-sheet" class="Select" [(ngModel)]="congCountry">
              <ion-option class="option" [value]="c.congCountry" *ngFor="let c of Data">{{c.congCountry}}</ion-option>
            </ion-select>
          </ion-item>

        </div>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>BY ORDER OF</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>First Name</ion-label>
          <ion-input [(ngModel)]="otherFirstName" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Last Name</ion-label>
          <ion-input [(ngModel)]="otherLastName" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address</ion-label>
          <ion-input [(ngModel)]="otherAddress" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked>City</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="otherCity">
            <ion-option class="option" [value]="c.otherCity" *ngFor="let c of Data">{{c.otherCity}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>State</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="otherState">
            <ion-option *ngFor="let s of Data">{{s.otherState}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Country</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="otherCountry">
            <ion-option class="option" [value]="c.otherCountry" *ngFor="let c of Data">{{c.otherCountry}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo4()">
      <span>PAYMENT DETAILS</span>
      <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton4" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Transfer Account*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="transferAccount">
            <ion-option class="option" [value]="a.transferAccount" *ngFor="let a of Data">{{a.transferAccount}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Charge Account*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="chargeAccount">
            <ion-option class="option" [value]="c.chargeAccount" *ngFor="let c of Data">{{c.chargeAccount}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Domiciliary Account</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="domAcct">
            <ion-option class="option" [value]="d.domAcct" *ngFor="let d of Data">{{d.domAcct}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Domiciliary Amount*</ion-label>
          <ion-input [(ngModel)]="domAmt" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Form Purpose Code*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="formPurposeCode">
            <ion-option class="option" [value]="f.formPurposeCode" *ngFor="let f of Data">{{f.formPurposeCode}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Prefix*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="prefix">
            <ion-option class="option" [value]="p.prefix" *ngFor="let p of Data">{{p.prefix}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Pin Code*</ion-label>
          <ion-input [(ngModel)]="pincode" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Due Date Payment</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMM DD YYYY" [(ngModel)]="dueDatePay"></ion-datetime>
        </ion-item>

      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo5()">
      <span>SHIPMENT DETAILS</span>
      <i *ngIf="!hideButton5" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton5" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton5" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Shipment Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMM DD YYYY" [(ngModel)]="shippedOn"></ion-datetime>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Port of Destination/Discharge*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="portOfDestination">
            <ion-option class="option" [value]="d.portOfDestination" *ngFor="let d of Data">{{d.portOfDestination}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Expected Port of Shipment*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="expectedPortShipment">
            <ion-option class="option" [value]="s.expectedPortShipment" *ngFor="let s of Data">{{s.expectedPortShipment}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. No.</ion-label>
          <ion-input [(ngModel)]="proformaNo" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMM DD YYYY" [(ngModel)]="proformaDate"></ion-datetime>
        </ion-item>
      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo6()">
      <span>GOOD DETAILS</span>
      <i *ngIf="!hideButton6" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton6" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton6" padding>
      <ion-list>
        <ion-item no-lines class="text-area">
          <ion-label stacked>Description of Goods</ion-label>
          <ion-textarea [(ngModel)]="goodsDescription" rows="2" placeholder="Remittance Info"></ion-textarea>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Quantity*</ion-label>
          <ion-input [(ngModel)]="totalQuantity" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>No of Items Expected (as per H.S codes)*</ion-label>
          <ion-input [(ngModel)]="noOfItems" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Net Weight/Mass(kg)*</ion-label>
          <ion-input [(ngModel)]="totalNetweight" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Gross Weight/Mass(kg)*</ion-label>
          <ion-input [(ngModel)]="totalGrossWeight" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Currency*</ion-label>
          <ion-select interface="action-sheet" class="Select" [(ngModel)]="currencyCode">
            <ion-option class="option" [value]="c.currencyCode" *ngFor="let c of Data">{{c.currencyCode}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Value of Goods in Foreign Currency*</ion-label>
          <ion-input [(ngModel)]="totalValueOfGoods" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Value FOB*</ion-label>
          <ion-input [(ngModel)]="totalFOB" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Freight Charges*</ion-label>
          <ion-input [(ngModel)]="totalFreightFOB" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total C & F Value*</ion-label>
          <ion-input [(ngModel)]="totalFC" type="number"></ion-input>
        </ion-item>

      </ion-list>

      <div>
        <button *ngIf="!itemDetails" color="fcmb" ion-button item-end (click)="details()">Add Item Details</button>
        <button *ngIf="itemDetails" color="fcmb" ion-button item-end (click)="details()">Add Item Details</button>
      </div>

      <div *ngIf="itemDetails" padding>

          <ion-item no-lines>
            <ion-label stacked>HS Code</ion-label>
            <ion-input [(ngModel)]="hsCode" type="number"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>Description of Goods</ion-label>
            <ion-input [(ngModel)]="goodsDescription" type="text"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label stacked>Sectorial Purpose</ion-label>
            <ion-input [(ngModel)]="sectoralPurpose" type="text"></ion-input>
          </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Unit of Measure</ion-label>
          <ion-input [(ngModel)]="unitMeasure" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>FOB</ion-label>
          <ion-input [(ngModel)]="fobvalue" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Freight Charges</ion-label>
          <ion-input [(ngModel)]="frieghtCharge" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Unit Price</ion-label>
          <ion-input [(ngModel)]="unitPrice" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Quantity</ion-label>
          <ion-input [(ngModel)]="quantity" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Mode of Packaging</ion-label>
          <ion-input [(ngModel)]="modeOfPackaging" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Net Weight</ion-label>
          <ion-input [(ngModel)]="netWeight" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Gross Weight</ion-label>
          <ion-input [(ngModel)]="grossWeight" type="number"></ion-input>
        </ion-item>

      </div>
    </div>


    <ion-item-divider (click)="mikilo7()">
      <span>ATTACHMENT</span>
      <i *ngIf="!hideButton7" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton7" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton7" padding>
      <ion-list>
        <ion-item no-lines class="file">

          <input type="file" [(ngModel)]="file" />
          <p style="white-space:normal">Supported formats .doc,.docs and .pdf[Max file size: 500KB]</p>
        </ion-item>
        <div>
          <button ion-button small color="fcmb" (click)="upload()">Upload</button>
        </div>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo8()">
      <span>TERMS & CONDITIONS</span>
      <i *ngIf="!hideButton8" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton8" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton8" padding>
      <p style="white-space:normal">I hereby declare that the above written particulars are true to the best of my knowledge and belief
        <a color="fcmb">Read more...</a>
      </p>
      <ion-list>
          <span>
              <b>Agree</b>
            </span>
              <ion-item class="radio" no-lines>
                <ion-label>Yes</ion-label>
                <ion-checkbox [(ngModel)]="yes"></ion-checkbox>
              </ion-item>
              <ion-item class="radio" no-lines>
                <ion-label>No</ion-label>
                <ion-checkbox [(ngModel)]="no"></ion-checkbox>
              </ion-item>
      </ion-list>
    </div>


    <div padding>
      <button class="button" ion-button block tappable color="fcmb" (click)="submit()">
        <span style="font-weight:bold; color:white">SUBMIT</span>
      </button>
    </div>
  </ion-item-group>



</ion-content>
