<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM NXP</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="popover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>

    <ion-item-divider (click)="mikilo()">
      <span>EXPORTER DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Name*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.exporterName" (ngModelChange)="selectedItem.exporterName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.exporterAddress" (ngModelChange)="selectedItem.exporterAddress= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>City*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.exporterCity" (ngModelChange)="selectedItem.exporterCity= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>State*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.exporterState" (ngModelChange)="selectedItem.exporterState= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Phone*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.exporterPhone" (ngModelChange)="selectedItem.exporterPhone= $event" type="tel"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>NEPC Reg No*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.exporterNepcReg" (ngModelChange)="selectedItem.exporterNepcReg= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>RC Number*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.exporterRcNo" (ngModelChange)="selectedItem.exporterRcNo= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Method of Payment*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.methodOfPayment" (ngModelChange)="selectedItem.methodOfPaymente= $event" type=“text”></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>CONSIGNEE DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>

      <ion-list>


        <ion-item no-lines>
          <ion-label stacked>Consignee First Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congFirstname" (ngModelChange)="selectedItem.congFirstname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Last Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congLastName" (ngModelChange)="selectedItem.congLastName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Address*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.congAddress" (ngModelChange)="selectedItem.congAddress= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Consignee City*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.congCity" (ngModelChange)="selectedItem.congCity= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee State*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.congState" (ngModelChange)="selectedItem.congState= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Country*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.congCountry" (ngModelChange)="selectedItem.congCountry= $event" type=“text”></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>BY ORDER OF</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>First Name</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.otherFirstName" (ngModelChange)="selectedItem.otherFirstName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Last Name</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.otherLastName" (ngModelChange)="selectedItem.otherLastName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.otherAddress" (ngModelChange)="selectedItem.otherAddress= $event" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked>City</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.otherCity" (ngModelChange)="selectedItem.otherCity= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>State</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.otherState" (ngModelChange)="selectedItem.otherState= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Country</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.otherCountry" (ngModelChange)="selectedItem.otherCountry= $event" type=“text”></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo4()">
      <span>PAYMENT DETAILS</span>
      <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton4" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Transfer Account*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.transferAccount" (ngModelChange)="selectedItem.transferAccount= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Charge Account*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.chargeAccount" (ngModelChange)="selectedItem.chargeAccount= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Domiciliary Account</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.domAcct" (ngModelChange)="selectedItem.domAcct= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Domiciliary Amount*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.domAmt" (ngModelChange)="selectedItem.domAmt= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Form Purpose Code*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.formPurposeCode" (ngModelChange)="selectedItem.formPurposeCode= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Prefix*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.prefix" (ngModelChange)="selectedItem.prefix= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Pin Code*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.pincode" (ngModelChange)="selectedItem.pincode= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Due Date Payment</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.dueDatePay" (ngModelChange)="selectedItem.dueDatePay= $event" type=“text”></ion-input>
        </ion-item>

      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo5()">
      <span>SHIPMENT DETAILS</span>
      <i *ngIf="!hideButton5" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton5" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton5" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Shipment Date</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.shippedOn" (ngModelChange)="selectedItem.shippedOn= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Port of Destination/Discharge*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.portOfDestination" (ngModelChange)="selectedItem.portOfDestination= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Expected Port of Shipment*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.expectedPortShipment" (ngModelChange)="selectedItem.expectedPortShipment= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. No.</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.proformaNo" (ngModelChange)="selectedItem.proformaNo= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. Date</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.proformaDate" (ngModelChange)="selectedItem.proformaDate= $event" type=“text”></ion-input>
        </ion-item>
      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo6()">
      <span>GOOD DETAILS</span>
      <i *ngIf="!hideButton6" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton6" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton6" padding>
      <ion-list>
        <ion-item no-lines class="text-area">
          <ion-label stacked>Description of Goods</ion-label>
          <ion-textarea [readonly]="isReadonly()"  [ngModel]="selectedItem?.goodsDescription" (ngModelChange)="selectedItem.goodsDescription= $event" rows="2" placeholder="Remittance Info"></ion-textarea>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Quantity*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.totalQuantity" (ngModelChange)="selectedItem.totalQuantity= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'quantity')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>No of Items Expected (as per H.S codes)*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.noOfItems" (ngModelChange)="selectedItem.noOfItems= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Net Weight/Mass(kg)*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.totalNetWeight" (ngModelChange)="selectedItem.totalNetWeight= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'netWeight')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Gross Weight/Mass(kg)*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.totalGrossWeight" (ngModelChange)="selectedItem.totalGrossWeight= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'grossWeight')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Currency*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.currencyCode" (ngModelChange)="selectedItem.currencyCode= $event">
            <ion-option class="option"  >{{selectedItem.currencyCode}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Value of Goods in Foreign Currency*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.totalValueOfGoods" (ngModelChange)="selectedItem.totalValueOfGoods= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'value')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Value FOB*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.totalFOB" (ngModelChange)="selectedItem.totalFOB= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem,'fobvalue')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Freight Charges*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.totalFreightFOB" (ngModelChange)="selectedItem.totalFreightFOB= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'frieghtCharge')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total C & F Value*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.totalFC" (ngModelChange)="selectedItem.totalFC= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem,'cf')"></i>
        </ion-item>

        <div>
          <button color="fcmb" ion-button item-end (click)="details()">Item Details</button>
        </div>
      </ion-list>
    </div>



  </ion-item-group>



</ion-content>
