<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM NXP</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content> 
  <ion-item-group>

    <ion-item-divider (click)="mikilo()">
      <span>EXPORTER DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Name*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.name" (ngModelChange)="selectedItem.name= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.address" (ngModelChange)="selectedItem.address= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>City*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.city" (ngModelChange)="selectedItem.city= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>State*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.states" (ngModelChange)="selectedItem.states= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Phone*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.phone" (ngModelChange)="selectedItem.phone= $event" type="tel"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>NEPC Reg No*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.nepc" (ngModelChange)="selectedItem.nepc= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>RC Number*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.rcnumber" (ngModelChange)="selectedItem.rcnumber= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Method of Payment*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.method" (ngModelChange)="selectedItem.method= $event" type=“text”></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>CONSIGNEE DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>

      <ion-list>


        <ion-item no-lines>
          <ion-label stacked>Consignee First Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.cfname" (ngModelChange)="selectedItem.cfname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Last Name*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.clname" (ngModelChange)="selectedItem.clname= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Address*</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.caddress" (ngModelChange)="selectedItem.caddress= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Consignee City*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.city" (ngModelChange)="selectedItem.city= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee State*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.states" (ngModelChange)="selectedItem.states= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Consignee Country*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.countries" (ngModelChange)="selectedItem.countries= $event" type=“text”></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>BY ORDER OF</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>First Name</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.fname" (ngModelChange)="selectedItem.fname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Last Name</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.lname" (ngModelChange)="selectedItem.lname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.address" (ngModelChange)="selectedItem.address= $event" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked>City</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.city" (ngModelChange)="selectedItem.city= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>State</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.states" (ngModelChange)="selectedItem.states= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Country</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.countries" (ngModelChange)="selectedItem.countries= $event" type=“text”></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo4()">
      <span>PAYMENT DETAILS</span>
      <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton4" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Transfer Account*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.account" (ngModelChange)="selectedItem.account= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Charge Account*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.charge" (ngModelChange)="selectedItem.charge= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Domiciliary Account</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.domiciliary" (ngModelChange)="selectedItem.domiciliary= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Domiciliary Amount*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.domammount" (ngModelChange)="selectedItem.domammount= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Form Purpose Code*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.formpurpose" (ngModelChange)="selectedItem.formpurpose= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Prefix*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.prefix" (ngModelChange)="selectedItem.prefix= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Pin Code*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.pincode" (ngModelChange)="selectedItem.pincode= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Due Date Payment</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.date" (ngModelChange)="selectedItem.date= $event" type=“text”></ion-input>
        </ion-item>

      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo5()">
      <span>SHIPMENT DETAILS</span>
      <i *ngIf="!hideButton5" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton5" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton5" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Shipment Date</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.sdate" (ngModelChange)="selectedItem.sdate= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Port of Destination/Discharge*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.discharge" (ngModelChange)="selectedItem.discharge= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Expected Port of Shipment*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.shipment" (ngModelChange)="selectedItem.shipment= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. No.</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.proforma" (ngModelChange)="selectedItem.proforma= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. Date</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.pdate" (ngModelChange)="selectedItem.pdate= $event" type=“text”></ion-input>
        </ion-item>
      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo6()">
      <span>GOOD DETAILS</span>
      <i *ngIf="!hideButton6" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton6" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton6" padding>
      <ion-list>
        <ion-item no-lines class="text-area">
          <ion-label stacked>Description of Goods</ion-label>
          <ion-textarea [readonly]="isReadonly()"  [ngModel]="selectedItem?.description" (ngModelChange)="selectedItem.description= $event" rows="2" placeholder="Remittance Info"></ion-textarea>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Quantity*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.good.totalQuantity" (ngModelChange)="selectedItem.good.totalQuantity= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'quantity')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>No of Items Expected (as per H.S codes)*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.good.expectedItems" (ngModelChange)="selectedItem.good.expectedItems= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Net Weight/Mass(kg)*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.good.totalNetweight" (ngModelChange)="selectedItem.good.totalNetweight= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'weight')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Gross Weight/Mass(kg)*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.good.totalGrossweight" (ngModelChange)="selectedItem.good.totalGrossweight= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'gross')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Currency*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.currency" (ngModelChange)="selectedItem.currency= $event">
            <ion-option class="option" [value]="c.currency" *ngFor="let c of currencyData">{{c.currency}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Value of Goods in Foreign Currency*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.good.totalValue" (ngModelChange)="selectedItem.good.totalValue= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'value')"></i>
        </ion-item>

        <ion-item no-lines> 
          <ion-label stacked>Total Value FOB*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.good.totalFOB" (ngModelChange)="selectedItem.good.totalFOB= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem,'fob')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Freight Charges*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.good.totalFreight" (ngModelChange)="selectedItem.good.totalFreight= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'freight')"></i>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total C & F Value*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.good.totalcf" (ngModelChange)="selectedItem.good.totalcf= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem,'cf')"></i>
        </ion-item>

        <div>
          <button color="fcmb" ion-button item-end (click)="details(selectedItem)">Item Details</button>
        </div>
      </ion-list>
    </div>


  
  </ion-item-group>



</ion-content>