<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">REMITTANCE</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>

    <ion-item-divider (click)="mikilo()">
      <span>BENEFICIARY DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>

      <ion-list>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Name*</ion-label>
          <ion-input [ngModel]="selectedItem?.bname" (ngModelChange)="selectedItem.bname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Account Number*</ion-label>
          <ion-input [ngModel]="selectedItem?.baccount" (ngModelChange)="selectedItem.baccount= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Account Name*</ion-label>
          <ion-input [ngModel]="selectedItem?.name" (ngModelChange)="selectedItem.name= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Swift Code*</ion-label>
          <ion-input [ngModel]="selectedItem?.bbswiftcode" (ngModelChange)="selectedItem.bbswiftcode= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Name*</ion-label>
          <ion-input [ngModel]="selectedItem?.bbname" (ngModelChange)="selectedItem.bbname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Address*</ion-label>
          <ion-input [ngModel]="selectedItem?.bbaddress" (ngModelChange)="selectedItem.bbaddress= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank City*</ion-label>
          <ion-input [ngModel]="selectedItem?.bbcity" (ngModelChange)="selectedItem.bbcity= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Country*</ion-label>
          <ion-input [ngModel]="selectedItem?.bbcountry" (ngModelChange)="selectedItem.bbcountry= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank State*</ion-label>
          <ion-input [ngModel]="selectedItem?.bbstate" (ngModelChange)="selectedItem.bbstate= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Postal Code*</ion-label>
          <ion-input [ngModel]="selectedItem?.bbpostalcode" (ngModelChange)="selectedItem.bbpostalcode= $event" type="number"></ion-input>
        </ion-item>


      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>INTERMEDIARY BANK DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Name</ion-label>
          <ion-input [ngModel]="selectedItem?.ibname" (ngModelChange)="selectedItem.ibname= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Swift Code</ion-label>
          <ion-input [ngModel]="selectedItem?.ibswiftcode" (ngModelChange)="selectedItem.ibswiftcode= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Address</ion-label>
          <ion-input [ngModel]="selectedItem?.ibaddress" (ngModelChange)="selectedItem.ibaddress= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank City</ion-label>
          <ion-input [ngModel]="selectedItem?.ibcity" (ngModelChange)="selectedItem.ibcity= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank State</ion-label>
          <ion-input [ngModel]="selectedItem?.ibstate" (ngModelChange)="selectedItem.ibstate= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Country</ion-label>
          <ion-input [ngModel]="selectedItem?.ibcountry" (ngModelChange)="selectedItem.ibcountry= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Postal Code</ion-label>
          <ion-input [ngModel]="selectedItem?.ibpostalcode" (ngModelChange)="selectedItem.ibpostalcode= $event" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>PAYMENT DETAILS</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Purpose of Payment*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.payment" (ngModelChange)="selectedItem.payment= $event">
            <ion-option class="option" [value]="p.purpose" *ngFor="let p of purposeData">{{p.purpose}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-grid>
            <ion-row>
              <ion-col col-4 text-left>
                  <ion-item no-lines>
                      <ion-label stacked>Currency</ion-label>
                      <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.money" (ngModelChange)="selectedItem.money= $event">
                        <ion-option class="option" [value]="a.money" *ngFor="let a of moneyData">{{a.money}}</ion-option>
                      </ion-select>
                    </ion-item>
              </ion-col>
              <ion-col col-8 text-right>
              <ion-item no-lines>
                <ion-label stacked>Amount*</ion-label>
                <ion-input  [ngModel]="selectedItem?.amount" (ngModelChange)="selectedItem.amount= $event" type="number"></ion-input>
              </ion-item>
            </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item no-lines>
              <ion-label stacked>Transfer Account*</ion-label>
              <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.transfer" (ngModelChange)="selectedItem.transfer= $event">
                <ion-option class="option" [value]="a.account" *ngFor="let a of accountData">{{a.account}}</ion-option>
              </ion-select>
            </ion-item>
    
                <ion-item no-lines>
                  <ion-label stacked>Estimated Debit Amount in Foreign Currency*</ion-label>
                  <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.estimated" (ngModelChange)="selectedItem.estimated= $event" type="number"></ion-input>
                </ion-item>

        <!-- <ion-item no-lines>
          <ion-label stacked>Amount*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.amount" (ngModelChange)="selectedItem.amount= $event">
            <ion-option class="option" [value]="a.amount" *ngFor="let a of amountData">{{a.amount}}</ion-option>
          </ion-select>
        </ion-item> -->

        <ion-item no-lines>
          <ion-label stacked>Charge Amount*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.charge" (ngModelChange)="selectedItem.charge= $event">
            <ion-option class="option" [value]="c.charge" *ngFor="let c of chargeData">{{c.charge}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Amount applied in words*</ion-label>
          <ion-input [ngModel]="selectedItem?.applied" (ngModelChange)="selectedItem.applied= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines class="text-area">
          <ion-label stacked>Remittance Info</ion-label>
          <ion-textarea [ngModel]="selectedItem?.info" (ngModelChange)="selectedItem.info= $event" rows="2" placeholder="Remittance Info"></ion-textarea>
        </ion-item>

        <!-- <ion-item no-lines>
          <ion-label stacked>Valid for Forex*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.valid" (ngModelChange)="selectedItem.valid= $event">
            <ion-option value="yes">Yes</ion-option>
            <ion-option value="no">No</ion-option> 
          </ion-select>
        </ion-item> -->

         
      </ion-list>

    </div>

    <!-- <ion-item-divider (click)="mikilo4()">
      <span>BENEFICIARY BANK DETAILS</span>
      <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>
    <div *ngIf="hideButton4" padding>
      <ion-list>
        
      </ion-list>

    </div> -->

    <!-- <ion-item-divider (click)="mikilo5()">
      <span>OTHER DETAILS</span>
      <i *ngIf="!hideButton5" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton5" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton5" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Airline</ion-label>
          <ion-input [ngModel]="selectedItem?.airline" (ngModelChange)="selectedItem.airline= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Air Ticket No*</ion-label>
          <ion-input [ngModel]="selectedItem?.ticket" (ngModelChange)="selectedItem.ticket= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Route*</ion-label>
          <ion-input [ngModel]="selectedItem?.route" (ngModelChange)="selectedItem.route= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Mode of Identification*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.identification" (ngModelChange)="selectedItem.identification= $event">
            <ion-option *ngFor="let m of iData">{{m.mode}}</ion-option>
          </ion-select>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Identification Number*</ion-label>
          <ion-input placeholder="*Identification Number" [ngModel]="selectedItem?.idnumber" (ngModelChange)="selectedItem.idnumber= $event"
            type="text"></ion-input>
        </ion-item>
      </ion-list>
    </div> -->

    <ion-item-divider (click)="mikilo4()">
        <span>ATTACHMENT</span>
        <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
        <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
      </ion-item-divider>
  
      <div *ngIf="hideButton4" padding>
        <ion-list>
          <ion-item no-lines class="file"> 
  
            <input type="file" [(ngModel)]="fileupload" />
            <p style="white-space:normal">Supported formats .doc,.docs and .pdf[Max file size: 500KB]</p>
          </ion-item>
          <div>
            <button ion-button small color="fcmb" (click)="upload()">Upload</button>
          </div>
  
        </ion-list>
      </div>
      
      <ion-item-divider (click)="mikilo6()">
          <span>TERMS & CONDITIONS</span>
          <i *ngIf="!hideButton6" class="fas fa-angle-down" item-end></i>
          <i *ngIf="hideButton6" class="fas fa-angle-up" item-end></i>
        </ion-item-divider>
    
        <div *ngIf="hideButton6" padding>
          <p style="white-space:normal">I hereby declare that the above written particulars are true to the best of my knowledge and belief
            <a color="fcmb">Read more...</a>
          </p>
          <ion-list>
              <span>
                  <b>Agree</b>
                </span>
                  <ion-item class="radio" no-lines>
                    <ion-label>Yes</ion-label>
                    <ion-checkbox [(ngModel)]="yes"></ion-checkbox>
                  </ion-item>
                  <ion-item class="radio" no-lines>
                    <ion-label>No</ion-label>
                    <ion-checkbox [(ngModel)]="no"></ion-checkbox>
                  </ion-item>
          </ion-list>
        </div>

    <div padding>
      <button class="button" ion-button block tappable color="fcmb" (click)="update()">
        <span style="font-weight:bold; color:white">UPDATE</span>
      </button>
    </div>
  </ion-item-group>



</ion-content>