<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM A</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="popover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>

    <ion-item-divider (click)="mikilo()">
      <span>BENEFICIARY DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>

      <ion-list>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Name*</ion-label>
          <ion-input [readonly]="isReadonly()"   [ngModel]="selectedItem?.beneficiaryName" (ngModelChange)="selectedItem.beneficiaryName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Account Number*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneficiaryAccount" (ngModelChange)="selectedItem.beneficiaryAccount= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Account Name*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneBankId" (ngModelChange)="selectedItem.beneBankId= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Swift Code*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneBankSwiftCode" (ngModelChange)="selectedItem.beneBankSwiftCode= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Name*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneBankName" (ngModelChange)="selectedItem.beneBankName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Address*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneBankAddr" (ngModelChange)="selectedItem.beneBankAddr= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank City*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneBankCity" (ngModelChange)="selectedItem.beneBankCity= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Country*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneBankCtry" (ngModelChange)="selectedItem.beneBankCtry= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank State*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneBankState" (ngModelChange)="selectedItem.beneBankState= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Postal Code*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.beneBankPoCode" (ngModelChange)="selectedItem.beneBankPoCode= $event" type="number"></ion-input>
        </ion-item>


      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>INTERMEDIARY BANK DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Name</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.interBankName" (ngModelChange)="selectedItem.interBankName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Swift Code</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.interBankSwiftCode" (ngModelChange)="selectedItem.interBankSwiftCode= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Address</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.interBankAddr" (ngModelChange)="selectedItem.interBankAddr= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank City</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.interBankCity" (ngModelChange)="selectedItem.interBankCity= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank State</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.interBankState" (ngModelChange)="selectedItem.interBankState= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Country</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.interBankCtry" (ngModelChange)="selectedItem.interBankCtry= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Postal Code</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.interBankPoCode" (ngModelChange)="selectedItem.interBankPoCode= $event" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>PAYMENT DETAILS</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Purpose of Payment*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.purposeOfPayment" (ngModelChange)="selectedItem.purposeOfPayment= $event" type=“text”></ion-input>
        </ion-item>

        <ion-grid>
            <ion-row>
              <ion-col col-4 text-left>
                  <ion-item no-lines>
                      <ion-label stacked>Currency</ion-label>
                      <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.currencyCode" (ngModelChange)="selectedItem.currencyCode= $event" type=“text”></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col col-8 text-right>
              <ion-item no-lines>
                <ion-label stacked>Amount*</ion-label>
                <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.amount" (ngModelChange)="selectedItem.amount= $event" type="number"></ion-input>
              </ion-item>
            </ion-col>
            </ion-row>
          </ion-grid>




        <ion-item no-lines>
            <ion-label stacked>Transfer Account*</ion-label>
            <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.transferAccounts" (ngModelChange)="selectedItem.transferAccounts= $event" type=“text”></ion-input>
          </ion-item>

              <ion-item no-lines>
                <ion-label stacked>Estimated Debit Amount in Naira*</ion-label>
                <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.transactionDebitAmt" (ngModelChange)="selectedItem.transactionDebitAmt= $event" type="number"></ion-input>
              </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Charge Account*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.chargeAccounts" (ngModelChange)="selectedItem.chargeAccounts= $event" type=“text”></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Amount applied in words*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.amountInWords" (ngModelChange)="selectedItem.amountInWords= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines class="text-area">
          <ion-label stacked>Remittance Info</ion-label>
          <ion-textarea [readonly]="isReadonly()"  [ngModel]="selectedItem?.remittanceInfo" (ngModelChange)="selectedItem.remittanceInfo= $event" rows="2" placeholder="Remittance Info"></ion-textarea>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Valid for Forex*</ion-label>
          <ion-input [readonly]="isReadonly()"  [ngModel]="selectedItem?.forexValue" (ngModelChange)="selectedItem.forexValue= $event" type=“text”></ion-input>
        </ion-item>


      </ion-list>

    </div>




  </ion-item-group>



</ion-content>
