<ion-content>
    <ion-header>
  
      <ion-navbar color="fcmb">
        <ion-title text-center>
          <span text-color="my-custom-color">Details</span>
        </ion-title>
        <ion-buttons end (click)="selectCancel()">
          <button ion-button icon-only clear>
            <!-- <ion-icon color="fcmb" name="ios-close" item-right (click)="selectCancel()"></ion-icon> -->
            <i class="fas fa-times" item-end></i>
          </button>
        </ion-buttons>
      </ion-navbar>
  
    </ion-header>
  
    <div class="miracle">
      <ion-list>
        <ion-item *ngFor="let m of mamayo" no-lines>
            <p>Item:{{m.name}}</p>
            <p>HS Code:{{m.hscode}}</p>
          <p *ngIf="docType==='expectedItems'">Number of Items:{{m.expectedItems}}</p>
          <p *ngIf="docType==='fob'">Value FOB:{{m.fob}}</p>
          <p *ngIf="docType==='freight'">Freight Charge:{{m.freight}}</p> 
        </ion-item>
      </ion-list>
  
    </div>
  
  </ion-content>