<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM A</span>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="popover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>

    <ion-item-divider (click)="mikilo()">
      <span>BENEFICIARY DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>

      <ion-list>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Name*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneficiaryName" (ngModelChange)="selectedItem.beneficiaryName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Account Number*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneficiaryAccount" (ngModelChange)="selectedItem.beneficiaryAccount= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Account Name*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneBankId" (ngModelChange)="selectedItem.beneBankId= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Swift Code*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneBankSwiftCode" (ngModelChange)="selectedItem.beneBankSwiftCode= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Name*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneBankName" (ngModelChange)="selectedItem.beneBankName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Address*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneBankAddr" (ngModelChange)="selectedItem.beneBankAddr= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank City*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneBankCity" (ngModelChange)="selectedItem.beneBankCity= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Country*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneBankCtry" (ngModelChange)="selectedItem.beneBankCtry= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank State*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneBankState" (ngModelChange)="selectedItem.beneBankState= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Beneficiary Bank Postal Code*</ion-label>
          <ion-input [ngModel]="selectedItem?.beneBankPoCode" (ngModelChange)="selectedItem.beneBankPoCode= $event" type="number"></ion-input>
        </ion-item>


      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>INTERMEDIARY BANK DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Name</ion-label>
          <ion-input [ngModel]="selectedItem?.interBankName" (ngModelChange)="selectedItem.interBankName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Swift Code</ion-label>
          <ion-input [ngModel]="selectedItem?.interBankSwiftCode" (ngModelChange)="selectedItem.interBankSwiftCode= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Address</ion-label>
          <ion-input [ngModel]="selectedItem?.interBankAddr" (ngModelChange)="selectedItem.interBankAddr= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank City</ion-label>
          <ion-input [ngModel]="selectedItem?.interBankCity" (ngModelChange)="selectedItem.interBankCity= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank State</ion-label>
          <ion-input [ngModel]="selectedItem?.interBankState" (ngModelChange)="selectedItem.interBankState= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Country</ion-label>
          <ion-input [ngModel]="selectedItem?.interBankCtry" (ngModelChange)="selectedItem.interBankCtry= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Intermediary Bank Postal Code</ion-label>
          <ion-input [ngModel]="selectedItem?.interBankPoCode" (ngModelChange)="selectedItem.interBankPoCode= $event" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>PAYMENT DETAILS</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Purpose of Payment*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.purposeOfPayment" (ngModelChange)="selectedItem.purposeOfPayment= $event">
            <ion-option class="option"  >{{selectedItem.purposeOfPayment}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-grid>
            <ion-row>
              <ion-col col-4 text-left>
                  <ion-item no-lines>
                      <ion-label stacked>Currency</ion-label>
                      <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.currencyCode" (ngModelChange)="selectedItem.currencyCode= $event">
                        <ion-option class="option" >{{selectedItem.currencyCode}}</ion-option>
                      </ion-select>
                    </ion-item>
              </ion-col>
              <ion-col col-8 text-right>
              <ion-item no-lines>
                <ion-label stacked>Amount*</ion-label>
                <ion-input  [ngModel]="selectedItem?.amount" (ngModelChange)="selectedItem.amount= $event" type="number"></ion-input>
              </ion-item>
            </ion-col>
            </ion-row>
          </ion-grid>




        <ion-item no-lines>
            <ion-label stacked>Transfer Account*</ion-label>
            <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.transferAccounts" (ngModelChange)="selectedItem.transferAccounts= $event">
              <ion-option class="option" >{{selectedItem.transferAccounts}}</ion-option>
            </ion-select>
          </ion-item>

              <ion-item no-lines>
                <ion-label stacked>Estimated Debit Amount in Naira*</ion-label>
                <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.transactionDebitAmt" (ngModelChange)="selectedItem.transactionDebitAmt= $event" type="number"></ion-input>
              </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Charge Amount*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.chargeAccounts" (ngModelChange)="selectedItem.chargeAccounts= $event">
            <ion-option class="option" >{{selectedItem.chargeAccounts}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Amount applied in words*</ion-label>
          <ion-input [ngModel]="selectedItem?.amountInWords" (ngModelChange)="selectedItem.amountInWords= $event" type="text"></ion-input>
        </ion-item>


        <ion-item no-lines class="text-area">
          <ion-label stacked>Remittance Info</ion-label>
          <ion-textarea [ngModel]="selectedItem?.remittanceInfo" (ngModelChange)="selectedItem.remittanceInfo= $event" rows="2" placeholder="Remittance Info"></ion-textarea>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Valid for Forex*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.forexValue" (ngModelChange)="selectedItem.forexValue= $event">
            <ion-option class="option" >{{selectedItem.forexValue}}</ion-option>
          </ion-select>
        </ion-item>

        <!-- remember this for ion-options in case they passed an array of data later *ngFor="let c of chargeData"  -->


      </ion-list>

    </div>

    <!-- <ion-item-divider (click)="mikilo4()">
      <span>BENEFICIARY BANK DETAILS</span>
      <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>
    <div *ngIf="hideButton4" padding>
      <ion-list>

      </ion-list>

    </div> -->

    <!-- <ion-item-divider (click)="mikilo5()">
      <span>OTHER DETAILS</span>
      <i *ngIf="!hideButton5" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton5" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton5" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Airline</ion-label>
          <ion-input [ngModel]="selectedItem?.airline" (ngModelChange)="selectedItem.airline= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Air Ticket No*</ion-label>
          <ion-input [ngModel]="selectedItem?.ticket" (ngModelChange)="selectedItem.ticket= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Route*</ion-label>
          <ion-input [ngModel]="selectedItem?.route" (ngModelChange)="selectedItem.route= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Mode of Identification*</ion-label>
          <ion-select interface="action-sheet" class="Select" [ngModel]="selectedItem?.identification" (ngModelChange)="selectedItem.identification= $event">
            <ion-option *ngFor="let m of iData">{{m.mode}}</ion-option>
          </ion-select>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Identification Number*</ion-label>
          <ion-input placeholder="*Identification Number" [ngModel]="selectedItem?.idnumber" (ngModelChange)="selectedItem.idnumber= $event"
            type="text"></ion-input>
        </ion-item>
      </ion-list>
    </div> -->

    <ion-item-divider (click)="mikilo4()">
        <span>ATTACHMENT</span>
        <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
        <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
      </ion-item-divider>

      <div *ngIf="hideButton4" padding>
        <ion-list>
          <ion-item no-lines class="file">

            <input type="file" [(ngModel)]="file" />
            <p style="white-space:normal">Supported formats .doc,.docs and .pdf[Max file size: 500KB]</p>
          </ion-item>
          <div>
            <button ion-button small color="fcmb" (click)="upload()">Upload</button>
          </div>

        </ion-list>
      </div>

      <ion-item-divider (click)="mikilo6()">
          <span>TERMS & CONDITIONS</span>
          <i *ngIf="!hideButton6" class="fas fa-angle-down" item-end></i>
          <i *ngIf="hideButton6" class="fas fa-angle-up" item-end></i>
        </ion-item-divider>

        <div *ngIf="hideButton6" padding>
          <p style="white-space:normal">I hereby declare that the above written particulars are true to the best of my knowledge and belief
            <a color="fcmb">Read more...</a>
          </p>
          <ion-list>
              <span>
                  <b>Agree</b>
                </span>
                  <ion-item class="radio" no-lines>
                    <ion-label>Yes</ion-label>
                    <ion-checkbox [(ngModel)]="yes"></ion-checkbox>
                  </ion-item>
                  <ion-item class="radio" no-lines>
                    <ion-label>No</ion-label>
                    <ion-checkbox [(ngModel)]="no"></ion-checkbox>
                  </ion-item>
          </ion-list>
        </div>

    <div padding>
      <button class="button" ion-button block tappable color="fcmb" (click)="update()">
        <span style="font-weight:bold; color:white">UPDATE</span>
      </button>
    </div>
  </ion-item-group>



</ion-content>
