<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">FORM M</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider (click)="mikilo()">
      <span>APPLICANT DETAILS</span>
      <i *ngIf="!hideButton" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Form Number</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.formNumber" (ngModelChange)="selectedItem.formNumber= $event"
            type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Name</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.appName" (ngModelChange)="selectedItem.appName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address1</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.appAddress1" (ngModelChange)="selectedItem.appAddress1= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address2</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.appAddress2" (ngModelChange)="selectedItem.appAddress2= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>City</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.city" (ngModelChange)="selectedItem.city= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>TIN</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.appTIN" (ngModelChange)="selectedItem.appTIN= $event" type="number"></ion-input>
        </ion-item>

      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo2()">
      <span>BENEFICIARY DETAILS</span>
      <i *ngIf="!hideButton2" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton2" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton2" padding>

      <ion-list>

        <ion-item no-lines>
          <ion-label stacked>Name</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.beneName" (ngModelChange)="selectedItem.beneName= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address1</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.beneAddress1" (ngModelChange)="selectedItem.beneAddress1= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Address2</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.beneAddress2" (ngModelChange)="selectedItem.beneAddress2= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Phone</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.benePhone" (ngModelChange)="selectedItem.benePhone= $event" type="tel"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Country</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.beneCountry" (ngModelChange)="selectedItem.beneCountry= $event" type="text"></ion-input>
        </ion-item>

      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo3()">
      <span>SHIPMENT DETAILS</span>
      <i *ngIf="!hideButton3" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton3" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton3" padding>

      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Country of Origin</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.countryOfOrigin" (ngModelChange)="selectedItem.countryOfOrigin= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Country of Supply</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.countryOfSupply" (ngModelChange)="selectedItem.countryOfSupply= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Port of Discharge</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.portOfDischarge" (ngModelChange)="selectedItem.portOfDischarge= $event"
            type="text"></ion-input>
        </ion-item>

      </ion-list>

    </div>

    <ion-item-divider (click)="mikilo4()">
      <span>PAYMENT DETAILS</span>
      <i *ngIf="!hideButton4" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton4" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton4" padding>
      <ion-list>
        <ion-item no-lines>
          <ion-label stacked>Valid for Forex</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.forex" (ngModelChange)="selectedItem.forex= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Prefix</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.prefex" (ngModelChange)="selectedItem.prefex= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Designated Bank</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.designatedBank" (ngModelChange)="selectedItem.designatedBank= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Inspection Agent</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.inspectionAgent" (ngModelChange)="selectedItem.inspectionAgent= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Country of Supply</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.countryOfSupply" (ngModelChange)="selectedItem.countryOfSupply= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Transfer Mode</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.transferMode" (ngModelChange)="selectedItem.transferMode= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. No</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.proformaNo" (ngModelChange)="selectedItem.proformaNo= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Proforma Inv. Date</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.proformaDate" (ngModelChange)="selectedItem.proformaDate= $event" type="text"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Payment Mode</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.paymentMode" (ngModelChange)="selectedItem.paymentMode= $event" type="text"></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <ion-item-divider (click)="mikilo5()">
      <span>GOODS DETAILS</span>
      <i *ngIf="!hideButton5" class="fas fa-angle-down" item-end></i>
      <i *ngIf="hideButton5" class="fas fa-angle-up" item-end></i>
    </ion-item-divider>

    <div *ngIf="hideButton5" padding> 

      <ion-list>
        <ion-item no-lines class="text-area">
          <ion-label stacked>General Description of Goods</ion-label>
          <ion-textarea [readonly]="isReadonly()" [ngModel]="selectedItem?.genDesc" (ngModelChange)="selectedItem.genDesc= $event" rows="2" placeholder="Remittance Info"></ion-textarea>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Gross Weight/Mass(kg)</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.grossWeight" (ngModelChange)="selectedItem.grossWeight= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Net Weight/Mass(kg)</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.netWeight" (ngModelChange)="selectedItem.netWeight= $event" type="number"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked>Total Number of Items</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.quantityOfItems" (ngModelChange)="selectedItem.quantityOfItems= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'expectedItems')"></i>
        </ion-item>


        <ion-item no-lines>
          <ion-label stacked>Total FOB Value</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.totalFB" (ngModelChange)="selectedItem.totalFB= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'fob')"></i>
        </ion-item>
 
        <ion-item no-lines>
          <ion-label stacked>Total Freight Charges</ion-label>
          <ion-input [readonly]="isReadonly()" [ngModel]="selectedItem?.totalFreight" (ngModelChange)="selectedItem.totalFreight= $event" type="number"></ion-input>
          <i class="fas fa-eye" item-end (click)="itemTapped(selectedItem, 'freight')"></i>
        </ion-item>
      </ion-list>
      <div>
        <button color="fcmb" ion-button  item-end (click)="details(selectedItem)">View Item Details</button>
      </div>

    </div>

  </ion-item-group>

</ion-content>